.search-property-page {
    padding: 30px 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.search-property-content {
  padding: 20px; /* Spacing for content area */
}

.search-property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between property cards */
}


/* Additional styles for Navbar and Footer if needed */
